
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/ku/bootstrap.css">
    <script src="../static/js/ku/jquery.min.js"></script>
    <script src="../static/js/ku/bootstrap.js"></script>
    <link rel="stylesheet" href="../static/css/daohang.css">


{% block sidebar %}
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cla1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img src="../static/img/logo1.png" alt="">
        <div class="collapse navbar-collapse" id="cla1">
            <ul class="navbar-nav" style="margin: 0 10px 0 auto">
                <li class="nav-item">
                    <a class="nav-link" href="/homepage/">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search/">目的地</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        旅游攻略
                    </a>
                    <div class="dropdown-menu" style="text-align: center">
                        <a class="dropdown-item" href="/travels/">游记</a>
                        <a class="dropdown-item" href="/list/">榜单</a>
                        <a class="dropdown-item" href="/recommend/">景点推荐</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        社区
                    </a>
                    <div class="dropdown-menu" style="text-align: center">
                        <a class="dropdown-item" href="/qa/">问答</a>
                        <a class="dropdown-item" href="/companions/">结伴</a>
                    </div>
                </li>
                {% if request.session.is_login %}     
                    <li class="nav-item"><a href="#" class="nav-link">{{ request.session.user_name }}</a></li>
                    <li class="nav-item"><a href="/logout/" class="nav-link">注销账号</a></li>
                {% else %}
                    <li class="nav-item"><a href="/signin/" class="nav-link">登录/注册</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
{% endblock %}
</body>
</html>